.container section p{
  margin-left: 5cm;
  margin-right: 5cm;
}

body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #fff;
  color: #666;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

hr {
  border-top: 1px solid #ccc;
  margin-top: 3em;
  margin-bottom: 2em;
}

header {
  background-color: #999;
  background-image: url(img/background.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 4em;
  text-align: center;
  height: 500px;
}

header h1 {
  color: white;
  font-size: 2em;
  letter-spacing: 1px;
  opacity: 1;
  text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
  position: relative;
  top: 370px;
  font-weight: 700;
}

header p {
  color: #fff;
  padding-bottom: 1.3em;
  padding-top: .5em;
  opacity: 1;
  position: relative;
}
.center {
  text-align: center;
}

@media screen and (min-width: 50em) {
  header {
    height: 700px;
  }
  
  header h1 {
    font-size: 3.2em;
    top: 540px;
  }
  
  header p {
    top: 530px;
    font-size: 1.5em;
  }
}

.education {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
}
.row {
 font-family: "Lato", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto; 
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}